body {
  background-color: white;
}

a {
  color: black;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}
.left-icon img {
  height: 55px;
  padding-left: 10px;
}
.right-icon i {
  font-size: 30px;
  padding-right: 17.5px;
  padding-left: 17.5px;
  color: white;
}
.right-icon a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 40px;
  color: black;
  font-family: "Ubuntu Mono", monospace;
}
.subtitle {
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: "Ubuntu Mono", monospace;
  text-decoration: underline;
  margin-bottom: -25px;
}

.center-box {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}

.noti-box {
  background-color: white;
  border: 2px solid rgb(207, 0, 0);
  color: rgb(207, 0, 0);
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}

.mbox {
  width: 40%;
  height: 100px;
  margin: auto;
  display: flex;
  box-align: center;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.boxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}
.box {
  width: 40%;
  height: 100px;
  margin: 10px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .boxes {
    flex-direction: column;
  }
  .box {
    width: 80%;
  }
}
.perboxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 10px;
}
.perbox-l {
  width: 40%;
  height: 100px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 10px;
  text-decoration: none;
}
.perbox-m {
  width: 40%;
  height: 100px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 10px;
  text-decoration: none;
}
.perbox-r {
  width: 40%;
  height: 100px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 10px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .perboxes {
    flex-direction: column;
  }
  .perbox-l {
    width: 80%;
  }
  .perbox-r {
    width: 80%;
  }
  .perbox-l {
    width: 40%;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 10px;
    text-decoration: none;
  }
  .perbox-m {
    width: 40%;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 10px;
    text-decoration: none;
  }
  .perbox-r {
    width: 40%;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: 10px;
    text-decoration: none;
  }
}
.perbox-image-l {
  width: 50px;
  margin-left: 15px;
}
.perbox-image-r {
  width: 50px;
  margin-right: 15px;
}